body {
    background: #E5E5E5;
}

header {
    height: 916px;
    background-image: url("./assets/bg-bootstrap.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}